<html>
<head>
<title></title>

<style>
body {
   margin:20px;
   padding:0;
   text-align:center;
   background:#E0CFA8;
   color:#463219;
   font:11px Verdana, Arial, Helvetica, sans-serif;}


.bigRed { font:bold 12px Arial,Helvetica,sans-serif;
   text-decoration:none;
   color:#A11111;
   text-align: left;
}

td {
   font:11px Verdana, Arial, Helvetica, sans-serif;
}

td.label {
   font-weight: bold;
}

</style>

</head>

<body>

<h1 class='bigRed'>Password Reminder</h1>

<div align='left'>
<p>
Dear <%= @member.first_name %> <%= @member.last_name %>,
</p>
<p>Your password for www.texashearingaidsassoc.org is: <%= @member.password %>.
</p>
</div>

</body>
</html>
