      
  <%= form_for(@member)  do %>
  <p class="main_header">Update Your Membership Information </p>
  <p>THAA currently maintains the following information for your membership. Please correct any incorrect information  and click the <strong>SUBMIT</strong> button once.&nbsp;Corrections to your membership data will not automatically appear  on the membership lists posted on this site.
 Changes will be made by the THAA staff within 24 hours. </p>
  <p style="text-align: center; font-weight: bold; font-size: 14pt;">MAKE CORRECTIONS AND CLICK THE SUBMIT BUTTON ONLY ONCE</p> 
  <%= render :partial => 'form' %>
      <% end %>
