<p style="color: red; font-weight: bold;">You cannot access the content of the site until you have paid your 2015 annual membership dues. To pay your dues, contact the THAA staff at 512-477-1991. Access to the site will be provided as soon as your annual dues payment is received.</p>
