<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>THAA</title>
<link rel="stylesheet" type="text/css" href="/thaa.css">
<style type="text/css">
<!--
body {
	margin-bottom: 0px;
}
-->
</style>
</head>

<body>
<div id="container_inner">
<div id="header_inner"><img src= "/images/top_inner.gif" width="699" height="70" /></div>
<div id="red_inner" align="right"><span class="red_pad">1315 Nueces Street | Austin, TX 78701 | 512.477.1991</span></div>
<div id="blue_inner" align="right">
  <table width="699" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="201" align="center" id="bluelinks"><a href="/admin">HOME</a></td>
      <td><img src="/images/rep_king_floor_shot.jpg" alt="Images of Eastman" name="img1" width="166" height="90" border="0" id="img1"><img src="/images/three_people_at_trade_show.jpg" alt="Images of Eastman" name="img2" width="166" height="90" border="0" id="img2"><img src="/images/helen_ross_doty_award2.jpg" alt="Images of Eastman" name="img3" width="166" height="90" border="0" id="img3"></td>
    </tr>
  </table>
</div>
<table width="699" border="0" cellspacing="0" cellpadding="25">
  <tr>
    <td>


         <% if flash[:notice] %>
            <div class='notice' align='center'> 
            <%= flash[:notice] %>
            </div>

         <% end %>
   
         
         <%= yield :layout %>

    </td>
   </tr>
</table>
</div>
<p>&nbsp;</p>
</body>
</html>
